.wrapper-me {
  background-color: #d6c90c;
  color: #ffffff;
}

@media (max-width: 775px) {
  .wrapper-me {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 445px) {
  .title {
    font-size: 25px;
  }
}
